@import '../../shared/style/mixin.scss';
@import '../../shared/style/variable.scss';

.label {
	cursor: pointer;
	position: relative;
	border-radius: 50px;
	padding: 8px 14px 8px 46px;
	display: flex;
	align-items: center;
	overflow: hidden;
	transition:
		color 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
	.input {
		@include input-hidden();
	}
	.input:checked + .radio + .name {
	}
	.radio {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		transition:
			color 0.3s ease-in-out,
			background-color 0.3s ease-in-out;
	}
	.radio::before {
		display: inline-block;
		position: absolute;
		opacity: 0;
		content: '';
		inset: 0;
		background-color: $button-bg-default-3;
		transition:
			color 0.3s ease-in-out,
			background-color 0.3s ease-in-out;
	}

	.input:checked + .radio::before {
		opacity: 1;
	}
	.name {
		z-index: 9;
		display: inline-block;
		margin: 0 auto;
	}
	.image {
		position: absolute;
		width: 24px;
		height: 24px;
		left: 14px;
		top: 50%;
		translate: 0 -50%;
	}
	&:hover .radio {
		transition:
			color 0.3s ease-in-out,
			background-color 0.3s ease-in-out;
		background-color: $button-bg-hover-2;
	}
	&:hover {
		color: $button-color-default-2;
	}
}
