@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}