@import url(./normalize.css);
@import url(./variable.css);
@import url(./fonts.css);

body {
  color: var(--main-color);
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  font-weight: 400;
  overflow-x: hidden;
}