@use './mixin.scss' as mix;
@use './variable.scss' as var;
.overlay {
	@include mix.overlay-style();
	.modal {
		display: flex;
		overflow: hidden;
		min-height: 460px;
		@include mix.modal-style();
		.column:nth-of-type(1) {
			background-color: var.$color-orange;
			display: flex;
			justify-content: center;
			align-items: center;
			.image {
				width: 200px;
			}
		}
		.column:nth-of-type(2) {
			padding: 44px 24px 24px 24px;
			background-color: var.$color-background-main;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.register {
				margin-bottom: 20px;
				font-size: 36px;
				color: green;
				text-align: center;
			}
			.button {
				@include mix.button-style(
					var.$button-bg-default-2,
					var.$color-white,
					var.$button-bg-hover-1,
					var.$button-bg-selected
				);
			}
		}
		.column {
			.text {
				margin-bottom: 20px;
				font-size: 26px;
				font-weight: 700;
			}
			min-width: 342px;
			.title {
				margin: 0 0 16px 0;
				font-weight: var.$font-weight-semibold;
				font-size: var.$font-size-large;
			}
			.form {
				display: flex;
				min-height: 340px;
				flex-direction: column;
				.input {
					margin-bottom: 8px;
					@include mix.input-style();
				}
				.input_error {
					@include mix.input-error();
				}
				.error {
					@include mix.color-message(tomato, yellow);
				}
				.wrapper_radio {
					margin-bottom: 16px;
					display: flex;
					flex-direction: column;
					row-gap: 8px;
					.label {
						cursor: pointer;
						display: flex;
						align-items: center;
						.receiving {
							@include mix.input-hidden();
						}
						.input:checked + .radio + .name {
						}
						.radio {
							position: relative;
							display: inline-block;
							width: 12px;
							height: 12px;
							border: 2px solid #f2f2f3;
							border-radius: 50%;
						}
						.radio:before {
							@include mix.absoluteCenter();
							content: '';
							opacity: 0;
							border-radius: 50%;
							width: 6px;
							height: 6px;
							background-color: var.$color-black;
							transition: opacity 0.2s ease-in-out;
						}
						.receiving:checked + .radio::before {
							opacity: 1;
						}
						.span {
							margin-left: 10px;
							font-size: var.$font-size-medium;
							font-weight: 700;
						}
					}
				}
				.wrapper {
					margin-bottom: 32px;
					display: flex;
					column-gap: 8px;
				}
				.subtitle {
					font-weight: var.$font-weight-semibold;
					margin: 0 0 8px 0;
				}
				.button {
					@include mix.button-style(
						var.$button-bg-default-2,
						var.$color-white,
						var.$button-bg-hover-1,
						var.$button-bg-selected
					);
				}
				.info {
					font-size: 30px;
					font-weight: 700;
				}
			}
		}
		.close {
			cursor: pointer;
			position: absolute;
			content: '';
			right: 24px;
			top: 24px;
		}
	}
}
