@use '../../shared/style/mixin.scss' as mix;
@use '../../shared/style/variable.scss' as var;

.main {
	padding-bottom: 50px;
	.wrapper {
		@include mix.container();
		display: flex;
		gap: 30px;
	}
}
