@import '../../shared/style/mixin.scss';
@import '../../shared/style/variable.scss';

.main {
	background-color: $color-background-main;
	padding-bottom: 50px;
	.wrapper {
		@include container();
		display: flex;
		gap: 30px;
	}
}
