@use '@shared/style/mixin.scss' as mix;
@use '@shared/style/variable.scss' as var;

.Main {
	@include mix.container();
	padding-top: 50px;
	padding-bottom: 50px;
	.header {
		padding-top: 40px;
		padding-bottom: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 30px;
	}
	.content {
		display: flex;
		gap: 50px;
	}
}
