@import '../../shared/style/variable.scss';

.productcart {
	padding: 16px 0;
	display: grid;
	grid-template-columns: auto 100px auto;
	grid-template-areas:
		'image title button'
		'image weight button'
		'image price button';
	.image {
		border-radius: 8px;
		grid-area: image;
		align-self: center;
		width: 64px;
	}
	.title,
	.weight,
	.price {
		font-size: $font-size-small;
	}
	.title {
		margin: 0;
		grid-area: title;
		width: 100px;
	}
	.weight {
		margin: 0;
		grid-area: weight;
		align-self: center;
		color: $color-gray-dark;
	}
	.price {
		margin: 0;
		align-self: end;
		grid-area: price;
	}
	.button {
		grid-area: button;
		justify-self: end;
		align-self: center;
	}
}
