@use '../../shared/style/mixin.scss' as mix;
@use '../../shared/style/variable.scss' as var;

.RadioButtons {
	@include mix.container();
	padding-top: 40px;
	padding-bottom: 50px;
	.fieldset {
		border: none;
		padding: 0;
		margin: 0;
		display: flex;
		gap: 24px;
	}
}
