@use '../../shared/style/mixin.scss' as mix;
@use '../../shared/style/variable.scss' as var;

// https://css-tricks.com/pure-css-horizontal-scrolling/ посмотреть
.RadioButtons {
	overflow-x: auto;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Скрытие скролла в Firefox */  scroll-direction: horizontal;

	-webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
	&::-webkit-scrollbar {
		display: none; /* Скрытие скролла в Chrome, Safari */
	}

	.fieldset {
		border: none;
		padding: 0;
		margin: 0;
		display: flex;
		gap: 24px;
		white-space: nowrap;
		@media (max-width: var.$desktop) {
			cursor: grab;
		}
	}
}
