@use '../../shared/style/mixin.scss' as mix;
@use '../../shared/style/variable.scss' as var;
.overlay {
	@include mix.overlay-style();
	.modal {
		@include mix.modal-style();
		.column:nth-of-type(1) {
			background-color: var.$color-orange;
			display: flex;
			justify-content: center;
			align-items: center;
			.image {
				width: 200px;
			}
		}
		.column:nth-of-type(2) {
			padding: 44px 24px 24px 24px;
			background-color: var.$color-background-main;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.button {
				@include mix.button-style(
					var.$button-bg-default-2,
					var.$color-white,
					var.$button-bg-hover-1,
					var.$button-bg-selected
				);
			}
		}
		.column {
			width: 50%;
			.title {
				margin: 0 0 16px 0;
				font-weight: var.$font-weight-semibold;
				font-size: var.$font-size-large;
			}
			.form {
				.fieldset {
					@include mix.fieldset-reset();
					display: flex;
					flex-direction: column;
					row-gap: 10px;
				}
				.input {
					@include mix.input-style();
				}
				.input_error {
					@include mix.input-error();
				}
				.error {
					order: 13;
					@include mix.color-message(tomato, yellow);
				}
			}
		}
		.close {
			cursor: pointer;
			position: absolute;
			content: '';
			right: 24px;
			top: 24px;
		}
	}
}
