@import '../../style/mixin.scss';

.button {
	@include button-style();
	&:hover {
		color: var(--color-white);
	}
}
.button_primary {
	background-color: var(--button-bg-default-1);
	color: var(--button-color-default-1);
}
.button_secondary {
	background-color: var(--button-bg-default-2);
	color: var(--button-color-default-2);
}
