@import '../../shared/style/mixin.scss';
@import '../../shared/style/variable.scss';

.overlay {
	@include overlay-style();
	.modal {
		@include modal-style();
		padding: 24px 24px 36px 24px;
		background-color: $color-white;
		.title {
			margin: 0 0 24px 0;
			font-weight: $font-weight-semibold;
			font-size: $font-size-xxlarge;
			line-height: $line-height-medium;
		}
		.box {
			display: grid;
			gap: 40px 16px;
			grid-template-areas:
				'image info'
				'button inner';
			.image {
				grid-area: image;
				width: 276px;
				border-radius: 16px;
			}
			.info {
				grid-area: info;
				.description {
					margin: 0 0 10px 0;
					line-height: $line-height-large;
				}
				.composition {
					font-weight: $font-weight-semibold;
					font-size: $font-size-small;
					line-height: $line-height-large;
					margin: 0 0 4px 0;
				}
				.list {
					list-style: none;
					margin: 0 0 4px 0;
					padding: 0;
					.item {
						margin-bottom: 2px;
						font-size: $font-size-small;
						line-height: $line-height-large;
					}
					:last-child {
						margin-bottom: 0;
					}
				}
				.nutritional_info {
					margin: 0;
					font-size: $font-size-small;
					line-height: $line-height-large;
					color: $color-gray-dark;
				}
			}
			.button {
				grid-area: button;
				@include button-style($button-bg-default-2, $color-white, $button-bg-hover-1, $button-bg-selected);
			}
			.inner {
				grid-area: inner;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.price {
					margin: 0 0 0 auto;
					font-size: $font-size-large;
					font-weight: $font-weight-semibold;
					line-height: $line-height-large;
				}
			}
		}
		.close {
			cursor: pointer;
			position: absolute;
			content: '';
			right: 22px;
			top: 22px;
		}
	}
}
