@use '@shared/style/mixin.scss' as mix;
@use '@shared/style/variable.scss' as var;

.button {
	@include mix.button-style(
		var.$button-bg-default-2,
		var.$color-white,
		var.$button-bg-hover-1,
		var.$button-bg-selected
	);
}
.form {
	.fieldset {
		@include mix.fieldset-reset();
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	.legend {
		margin: 0 0 16px 0;
		font-weight: var.$font-weight-semibold;
		font-size: var.$font-size-large;
	}
	.input {
		@include mix.input-style();
	}
	.wrapper_radio {
		margin-bottom: 16px;
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		.label {
			cursor: pointer;
			display: flex;
			align-items: center;
			.receiving {
				@include mix.input-hidden();
			}
			.input:checked + .radio + .name {
			}
			.radio {
				position: relative;
				display: inline-block;
				width: 12px;
				height: 12px;
				border: 2px solid #f2f2f3;
				border-radius: 50%;
			}
			.radio:before {
				@include mix.absoluteCenter();
				content: '';
				opacity: 0;
				border-radius: 50%;
				width: 6px;
				height: 6px;
				background-color: var.$color-black;
				transition: opacity 0.2s ease-in-out;
			}
			.receiving:checked + .radio::before {
				opacity: 1;
			}
			.span {
				margin-left: 10px;
				font-size: var.$font-size-medium;
				font-weight: 700;
			}
		}
	}
	.delivery {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		> input {
			margin: 0;
		}
		:nth-child(1) {
			flex: 100% 1 1;
		}
		:nth-child(2) {
			flex: calc(50% - 8px) 1 1;
		}
		:nth-child(3) {
			flex: calc(50% - 8px) 1 1;
		}
	}
}

.order {
	margin: auto;
	background-color: var.$color-background-main;
	font-size: 26px;
	font-weight: 700;
}
