@use '@shared/style/variable.scss' as var;
@use '@shared/style/mixin.scss' as mix;

.Header {
	position: relative;
	padding: 24px 0 60px 0;
	display: flex;
	flex-direction: column;
	.top {
		z-index: 99;
		margin: 0 auto;
		display: flex;
		align-items: center;
		column-gap: 20px;
		.logo {
			.logo_icon {
				width: 152px;
				height: auto;
				fill: white;
			}
			.logo_optional {
				fill: #ffa132;
			}
		}
	}
	.wrapper {
		z-index: 9;
		margin: 0 auto;
		display: flex;
		align-items: center;
		.burger_icon {
			width: 326px;
			height: auto;
			@media (max-width: var.$tablet) {
				width: 227px;
			}
			@media (max-width: var.$tablet-small) {
				order: 2;
			}
		}
		.info {
			.visually_hidden {
				@include mix.visually-hidden();
			}
			.title {
				font-size: clamp(var.$font-size-xlarge, 6vw, var.$font-size-xxxlarge);
				font-weight: var.$font-weight-extrabold;
				color: var.$color-white;
			}
			.color {
				color: var.$color-accent;
			}
			.delivery {
				color: var.$color-white;
			}
			@media (max-width: var.$tablet-small) {
				order: 1;
				text-align: center;
			}
		}
		@media (max-width: var.$tablet-small) {
			flex-direction: column;
		}
	}
	&:before {
		position: absolute;
		content: '';
		height: 2880px;
		width: 2880px;
		background-color: #ffab08;
		border-radius: 50%;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		@media (max-width: var.$tablet-small) {
			height: 1080px;
			width: 1080px;
		}
	}
}
