.header {
	position: relative;
	padding: 24px 0 60px 0;
	display: flex;
	flex-direction: column;
	background-color: var(--color-background-main);
	.top {
		z-index: 9;
		margin: 0 auto;
		display: flex;
		align-items: center;
		column-gap: 20px;
		.logo {
			> img {
				width: 152px;
			}
		}
	
	}
	.wrapper {
		z-index: 9;
		margin: 0 auto;
		display: flex;
		align-items: center;
		.image {
		}
		.info {
			.title {
				font-size: var(--font-size-xxxlarge);
				color: var(--color-white);
			}
			.color {
				color: var(--color-accent);
			}
			.delivery {
				color: var(--color-white);
			}
		}
	}
	&:before {
		position: absolute;
		content: '';
		height: 2880px;
		width: 2880px;
		background-color: #ffab08;
		border-radius: 50%;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
