.label {
	cursor: pointer;
	position: relative;
	border-radius: 50px;
	padding: 8px 14px 8px 46px;
	display: flex;
	align-items: center;
	overflow: hidden;
	.input {
		width: 0;
		height: 0;
		opacity: 0;
		position: absolute;
		z-index: -1;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.input:checked + .radio + .name {
		// background-color: var(--accent-color-radio);
	}
	.radio {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		// transition: background-color 0.3s ease-in;
	}
	.radio::before {
		display: inline-block;
		position: absolute;
		opacity: 0;
		content: '';
		inset: 0;
		background-color: var(--button-bg-default-3);
		transition: all 0.3s ease-in;
	}

	.input:checked + .radio::before {
		opacity: 1;
	}
	.name {
		z-index: 9;
		display: inline-block;
		margin: 0 auto;
	}
	.image {
		position: absolute;
		width: 24px;
		height: 24px;
		left: 14px;
		top: 50%;
		translate: 0 -50%;
	}
}
