.section {
	.title {
		margin: 0 0 24px 0;
		font-size: var(--font-size-xxlarge);
		line-height: var(--line-height-medium);
		font-weight: var(--font-weight-semibold);
	}
	.list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}
}
