@import '../../shared/style/mixin.scss';
@import '../../shared/style/variable.scss';

.section {
	.title {
		margin: 0 0 24px 0;
		font-size: $font-size-xxlarge;
		line-height: $line-height-medium;
		font-weight: $font-weight-semibold;
	}
	.list {
		@include list-reset();
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}
}
.loader {
	@include loader();
}
