@import '../../shared/style/mixin.scss';

.section {
	.title {
		margin: 0 0 24px 0;
		font-size: var(--font-size-xxlarge);
		line-height: var(--line-height-medium);
		font-weight: var(--font-weight-semibold);
	}
	.list {
		@include list-reset();
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}
}
.loader {
	@include loader();
}
