@import '../../shared/style/variable.scss';

.NotFoundPage {
	padding: 100px 0;
	text-align: center;
	background-color: $color-background-main;
	.title {
		margin: 0;
		font-size: 200px;
		line-height: 0.7;
	}
	.text {
		margin: 0;
		font-size: $font-size-xlarge;
	}
	.link {
		text-decoration: none;
		color: $color-orange;
		font-size: $font-size-xxlarge;
	}
}
