@use '../../shared/style/mixin.scss' as mix;
@use '../../shared/style/variable.scss' as var;

.productcard {
	background-color: var.$color-white;
	padding: 12px;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	transition: box-shadow 0.3s ease-in-out;
	.image {
		cursor: pointer;
		border-radius: 12px;
		margin: 0 0 16px 0;
		width: 276px;
	}
	.price {
		margin: 0 0 8px 0;
		font-size: var.$font-size-large;
		line-height: var.$line-height-small;
		font-weight: var.$font-weight-semibold;
	}
	.title {
		margin: 0 0 29px 0;
		line-height: var.$line-height-large;
		font-weight: var.$font-weight-regular;
	}
	.weight {
		margin: 0 0 8px 0;
		line-height: var.$line-height-large;
		font-weight: var.$font-weight-semibold;
		color: var.$color-gray-dark;
	}
	.button {
		@include mix.button-style(button-bg-default-1, color-black, button-bg-hover-1, button-bg-selected);
		background-color: var.$button-bg-default-1;
		color: var.$color-black;
		&:hover {
			color: color-white;
		}
	}
	&:hover {
		box-shadow: 5px 0 25px rgba(0, 0, 0, 0.2);
	}
}
